:root {
  --offcanvas-width: 200px;
  --topnavHeight: 55px;
  --navwidth: 58px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
  top: var(--topnavHeight);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link.right-icon {
  display: inline-flex;
  transition: ease 0.25s;
}
.sidebar-link[aria-expanded='false'] .right-icon {
  transform: rotate(180deg);
}
main {
  margin-left: 200px;
}
.item,
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 55vw;
  font-weight: bolder;
  font-size: 25px;
  font-family: lapt0, sans-serif;
}

.offcanvas-backdrop::before {
  display: none;
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topnavHeight);
    width: var(--offcanvas-width);
    top: var(--topnavHeight);
  }
  .sidebar-link.right-icon {
    display: inline-flex;
    transition: ease 0.25s;
  }
}
